header {
  background-color: #427cac !important;
}

button.MuiButton-contained {
  background-color: #427cac !important;
}

.Header-Title {
  width: 100%;
  text-align: center;
}

.Header-Icon {
  color: white;
}

.Prediction-itemName {
  color: black;
  font-weight: bold;
}

.Bin-Landfill {
  color: saddlebrown;
  font-weight: bold;
}

.Bin-Recycle {
  color: blue;
  font-weight: bold;
}

.Bin-Compost {
  color: green;
  font-weight: bold;
}

.Utils-Spacing {
  margin: 5px 10px 5px 10px !important;
  width: auto !important;
}

.Utils-Flex {
  flex: 1 1 auto;
}

.Utils-Height {
  height: 100%;
}

.HomePage-Grid {
  height: 100vh;
}

.Camera {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  object-fit: cover;
  background-color: #666;
}

.SearchBar {
  display: flex;
  justify-content: center;
}

.SearchBar-Container {
  box-shadow: 0px 1px 3px #00000024, 0px 2px 2px #00000024,
    0px 0px 2px #00000024;
  margin: 5px 10px 5px 10px !important;
  display: flex;
  align-items: center;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border-radius: 3px;
}

.SearchBar-Input {
  width: 100%;
}

.SearchBar-IconButton {
  color: rgba(0, 0, 0, 0.54);
  padding: 5px;
}

.Settings-Page {
  text-align: center;
}

.Settings-Switch {
  margin: auto !important;
}

.ReportData-Popup {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -4px;
}

.FeedbackForm-Field {
  margin-top: 10px;
}

.FeedbackForm-Button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
}

.Help-Bold {
  font-weight: bold;
}

.Title-Center {
  text-align: center;
}
